html {
    scroll-behavior: smooth;
    scroll-padding-top: 30%;
    overflow: auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif, serif;
    color: white;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

p {
    font-size: 16pt;
    font-weight: normal;
    scroll-margin-top: 80px;
}

a {
    color: white;
    text-decoration: none;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    height: 75px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #282828;
    border-bottom: 2px solid #575757;
    padding: 0 50px 0 50px;
    z-index: 100; /* Used for stacking purposes */
}

#apple-title {
    color: #ff7878;
    cursor: pointer;
}

#nav-bar>div {
    text-align: center;
    min-width: 125px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    text-decoration: none;
    color: white;
    padding: 15px;
}

.button:hover {
    color: #ff7878;
    background-color: #3f3f3f;
    border-radius: 20px;
    transform: scale(1.05);
    transition: background-color 0.5s, border 0.5s, transform 0.5s;
}

.footer-minimal {
    background-color: #282828;
    color: #ffffff;
    text-align: center;
    padding: 20px 10px;
    border-top: 2px solid #575757;
    font-family: "Rubik", sans-serif;
}

.footer-minimal__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-minimal__copyright {
    margin: 0;
    text-align: center;
    flex: 1;
}

.footer-photo {
    width: 140px;
    height: 60px;
    position: absolute;
    right: 20px;
}